controlplane_node_ip = "the-ip-of-a-node"
# cluster_endpoint can be omitted to derive https://<controlplane_node_ip>:6443
# cluster_endpoint = "https://controlplane_node_ip:6443"

controlplane_install_disk = "/dev/sda"
controlplane_hostname     = "hl-controlplane"

workers = {
  hl-worker-01 = {
    ip   = "the-ip-of-a-node"
    disk = "/dev/nvme0n1"
  }
}
